<%- include("./partials/header") %>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Todo App</a>
    </nav>

    <div class="container  mt-5">
        <form action="/add/todo" method="POST" class="d-flex">
            <input type="text" name="todo" class="form-control p-10" placeholder="Enter Todo" required>
            
            <input type="date" name="dueDate" class="form-control" placeholder="Due Date" required>

            <!-- <label for="cars">Todo-Types:</label> -->
            <select name="category" id="select" class="btn btn-md btn-secondary mx-2" value="Other">
                <option value="Personal" id="primary">Personal</option>
                <option value="Study" id="secondary">Study</option>
                <option value="School" id="success">School</option>
                <option value="Cleaning" id="danger">Cleaning</option>
                <option value="Office" id="warning">Office</option>
                <option value="Training" id="info">Training</option>
                <option value="Other" id="light">Other</option>
            </select>
            <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
        </form>


        <ul class="list-group my-5">
            <% todo.forEach(todos=> { %>
                <li class="list-group-item">
                    <div class="container">
                        <span><input type="checkbox" name="select" id="select" class="btn btn-md btn-primary"></span>

                        <span>
                            <%= todos.todo %> 
                            <input type="button" value="<%= todos.category %>" class="btn btn-md btn-primary" disabled>
                            <input type="button" value="<%= todos.dueDate %>" class="btn btn-md " disabled>
                            <a href="/delete/todo/<%= todos._id %>"class="btn btn-danger btn-sm">Delete</a>
                        </span>
                    </div>
                </li>
                <% }) %>

        </ul>
    </div>





    <%- include("./partials/footer") %>